[run]
source =
    board.py
    pieces.py
    player2.py
    scans.py
    score.py
omit =
    env/*
    */test*

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite